.containerKYC{
    height: 30vh;
    margin-top: 270px;
    flex-direction: column;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
}

.containerKYC h1{
    color: black;
    font-weight: 900;
    font-size: 22px;
    text-shadow: #0f1213;
}

.containerKYC button{
  background: gray;
  color: white;
    padding: 15px;
    border-radius: 10px;
    font-weight: 700;
}

.rutaKYC{
    display: flex;
    gap: 10px;
}

